@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@300&family=Outfit:wght@100&display=swap');
body{
    background-color:hsl(217, 54%, 11%);
    color: azure;
    //display: grid;
    //min-height: 100vh;
    place-items: center;
    top: 100%;
    font-family: outfit;    
   
}



.card{
    width: 330px;
    //max-height: 550px;
    margin: 100px auto;
    background: hsl(216, 50%, 16%);
    position: relative;
    border-radius: 10px;
}
.nftimg{
    border-radius: 10px;
    display: block;
    margin: 20px;
    padding-top: 20px;
}

p{
    margin-left: 25px;
    margin-right: 25px;
    line-height: 1.5em;
    font-weight: 550px;
}


.days{
    float: right;
    margin-right: 25px;
    position: relative;
    margin-top: 20px;
}
.price{
    //margin-left: 10px;
    color: hsl(178, 100%, 50%);
    position: relative;
    margin-top: 35px;
}
.line{
    height: 1px;
    background: hsl(215, 51%, 70%);
    margin-top: 15px;
    width: 290px;
    margin-left: 20px;
}
.eth{
    margin-left: 25px;
    margin-top: px;
    display: flex;
    float: left;
}
.clock{
    float: left;
    
}
.card-title{
    font-weight: 600;
    margin-left: 25px;
}
.avatar{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.creatorpic{
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.creator{
    margin: 0;
    margin-left: 10px;
    
}
.creator span{
    font-weight: 600;
}


